.content-box, .form-container {
  display: flex;
  justify-content: space-between;
}

.anesthesiologist-box, .vacations-box, .first-calls-box, .add-anesthesiologist-box, .add-vacation-box, .add-first-call-box {
  flex: 1;
  margin: 0 10px;
  box-sizing: border-box;
}


.rbc-event {
  height: auto !important;
  white-space: normal !important;
}