.content-box {
  display: flex;
  justify-content: flex-start;
}

.anesthesiologist-box, .vacations-box, .first-calls-box {
  flex: 1;
  margin: 0 10px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

